<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% if(currentUser) { %>
          <a href="/products/<%= product.id %>/edit" class="btn btn-primary edit">Edit</a>
          <% if(currentUser) { %>
          <form style="display:initial" action="/products/<%= product.id %>/destroy" method="post">
            <button type="submit" class="btn btn-secondary delete">Delete</button>
          </form>
          <% } %>
        <% } %>
    <span class="specific-product">
    <h1><%= product.title %></h1>
      <img src="../img/<%= product.image %>" class="product-image">
      <p><span class="label">Description:</span> <%= product.description %></p>
      <p><span class="label">Price:</span> $<%= product.price %></p>
    </span>
    </main>
    <button type="submit" class="btn btn-primary cart">Add to Cart</button>
    <% include ../static/partials/baseScripts.ejs %>
    </div>
  </body>
</html>
